#wordle-group {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: auto;
  width: 100%;
  max-width: 640px;
  /* margin-left: calc(50vw - 320px); */
}

.wordle {
  /* margin: auto; */
  margin: calc(20px / 2);
}

.wordle .row {
  display: flex;
  flex-direction: row;
}

.wordle div .tile {
  width: 50px;
  height: 50px;

  margin: 2px;
  border-radius: 1.5px;
  border: 3px solid #d3d6da;

  display: flex;
  color: white;
}

.wordle div .tile.blank {
  color: #393e4c;
}

.wordle div .tile.correct {
  background: #6aaa64;
  border-color: transparent;
}
.wordle div .tile.incorrect {
  background: #787c7e;
  border-color: transparent;
}
.wordle div .tile.misplaced {
  background: #c9b458;
  border-color: transparent;
}
.wordle div .tile.finished {
  background: rgba(0, 0, 0, 0.123);
  border-color: transparent;
}

.wordle .row .tile .letter {
  margin: auto;
  font-weight: bold;
  font-size: 32px;
  height: 100%;
  width: 100%;
  text-align: center;
  vertical-align: middle;
}
