.App {
  /* padding: 100px 0; */
}

#wordle-group {
  display: inline-flex;
  justify-content: flex-start;
  margin: 0 calc(50vw - (320px / 2));
  margin-top: 150px;
}

.wordle {
  /* margin: auto; */
  margin: 15px;
}

.wordle .row {
  display: flex;
  flex-direction: row;
}

.wordle div .tile {
  width: 50px;
  height: 50px;

  margin: 2px;
  /* border-radius: 1.5px; */
  border: 1.5px solid #d3d6da;

  display: flex;
  color: white;
}

.wordle div .tile.occupied {
  color: #393e4c;
  border-color: #878a8c;
}

.wordle div .tile.blank {
  color: #393e4c;
}

.wordle div .tile.correct,
.keyboard-letter.correct {
  background: #6aaa64;
  border-color: transparent;
  color: white;
}
.wordle div .tile.incorrect,
.keyboard-letter.incorrect {
  background: #787c7e;
  border-color: transparent;
  color: white;
}
.wordle div .tile.misplaced,
.keyboard-letter.misplaced {
  background: #c9b458;
  border-color: transparent;
  color: white;
}
.wordle div .tile.finished,
.keyboard-letter.finished {
  background: rgba(0, 0, 0, 0.123);
  border-color: transparent;
  color: white;
}

.wordle .row .tile .letter {
  margin: auto;
  font-weight: bold;
  font-size: 32px;
  height: 100%;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  user-select: none;
}

#keyboard {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-bottom: 10px;
}

.keyboard-letter {
  display: inline-flex;
  width: 43px;
  height: 50px;
  margin: 3px;
  border-radius: 4px;
  background: #d3d6da;
  color: #393e4c;
  cursor: pointer;
}

.keyboard-letter .letter {
  margin: auto;
  font-weight: bold;
  font-size: 14px;
  user-select: none;
}

.keyboard-letter.wide {
  width: 65px;
}

#wordle-title {
  margin: auto;
  padding: 10px;
  /* position: fixed; */
  /* top: 0; */
  /* left: 50vw; */
  /* transform: translateX(-50%); */
}

#wordle-title p {
  margin: 0;
  font-size: 16px;
  color: rgb(0, 0, 0);
  /* font-weight: bold; */
}

#wordle-title span {
  font-weight: bold;
  color: #353536;
}

#wordle-title h1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 32px;
  margin: 0;
  margin-bottom: 10px;
}

#wordle-history {
  display: flex;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  color: rgba(57, 62, 76, 0.80);
  overflow: hidden;
  /* max-width: calc(100vw - 20px); */
  /* width: 100%; */
}

#wordle-history > * {
  margin-right: 17px;
}

#wordle-history > *:last-child {
  margin-right: 0;
}

#wordle-history .correct {
  color: #6aaa64;
}
#wordle-history .incorrect {
  color: #787c7e;
}
#wordle-history .misplaced {
  color: #c9b458;
}

#wordle-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

/* font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif; */
