// Colors
$tileUnoccupied: #d3d6da;
$tileOccupied: #393e4c;
$correct: #21B34A;
$incorrect: #787c7e;
$misplaced: #FF8616;

// Wordle Layout
$spaceBetween: 30px;
$smallTextSize: 14px;
$fullSizedHint: 14px;
