// Colors
$tileUnoccupied: #d3d6da;
$tileOccupied: #393e4c;
$correct: #26b84f;
$incorrect: #787c7e;
$misplaced: #ff8818;

// Wordle Layout
$spaceBetween: 10px;
$smallTextSize: 14px;
$fullSizedHint: 14px;
