@import "./variables";

// #root {
//   height: 100vh;

//   .App,
//   #game {
//     height: 100%;
//   }
// }

#game {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.wordle-group {
  display: flex;
  flex-direction: column;
  align-items: center;

  .mini-wordle {
    margin-bottom: $spaceBetween;

    &:last-child {
      margin: 0;
    }
  }
}

.mini-wordle {
  font-weight: bold;
  max-width: 200px;
  width: 100%;
  position: relative;
  user-select: none;
  color: #454545;
  font-family: "Roboto Condensed", sans-serif;
  transition: height 600ms, margin 600ms;

  .highlight {
    transition: all 600ms linear;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    transform: translate(-20px, -20px);
    opacity: 0;
  }
}

.wordle-container {
  width: 100%;
  max-width: 300px;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  // transition: all 1000ms linear;
  opacity: 1;
  /* position: absolute; */
  z-index: 2;
  top: 0;
  left: 0;
}

.wordle-title {
  margin: 0;
  z-index: 4;
  text-align: center;
  font-size: $smallTextSize;
  color: #252525;
}

.wordle-hints-container {
  width: 100%;
  height: 100%;
  display: flex;
  font-size: $smallTextSize;
  justify-content: space-between;
  z-index: 2;

  .wordle-col {
    display: inline-flex;
    flex-grow: 1;
    flex-basis: 20%;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    // padding: 50;

    .wordle-brights {
      width: 100%;
      height: $fullSizedHint;
      // margin-top: 2px;
      display: flex;
      justify-content: center;
      align-items: center;

      &.A div {
        background: $correct;
        width: $fullSizedHint;
        height: $fullSizedHint;
      }

      div {
        width: 8px;
        height: 8px;
        border-radius: 7px;
        background: #252525;
      }
    }
  }
}

.wordle {
  transition: all 500ms linear;

  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;

  position: relative;
  font-weight: bold;
  user-select: none;
  width: 100%;

  .doop {
    // right: -50px;
    // top: 60%;
    // transform: translateY(-50%) rotate(-9deg);
    display: flex;
    width: 30px;
    position: relative;
    padding: 25px;

    div {
      width: 30px;
      height: 30px;
      position: absolute;

      bottom: 10px;
      border-radius: 8px;
      background: #ececec;
      text-align: center;
      vertical-align: middle;
      transform: rotate(10deg);
    }
  }

  .wordle-col {
    flex-basis: 50px;
    flex-grow: 0;
  }

  .tile {
    width: 50px;
    height: 50px;
    margin-top: 2.5px;
    display: flex;

    color: #000000;
    box-shadow: none;
    transform: translateY(0) scale(0.95);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
    border: 2px solid rgba(0, 0, 0, 0.8);

    transition: all 0.15s cubic-bezier(0.34, 1.56, 0.64, 1), box-shadow 0.1s;

    &.occupied {
      box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
      transform: translateY(-4px) scale(1);
    }

    .letter {
      margin: auto;
      font-weight: bold;
      font-size: 32px;
      height: 100%;
      width: 100%;
      text-align: center;
      vertical-align: middle;
    }
  }
}

#keyboard {
  display: inline-flex;
  flex-direction: column;
  align-items: center;

  .keyboard-letter {
    display: inline-flex;
    width: 35px;
    height: 45px;
    margin: 3px;
    border-radius: 4px;
    background: #d3d6da;
    color: #393e4c;
    cursor: pointer;

    &.wide {
      width: 55px;
    }

    &.incorrect {
      background: $incorrect;
      opacity: 1;
      color: white;
    }

    .letter {
      margin: auto;
      font-weight: bold;
      font-size: 14px;
      user-select: none;
    }
  }
}

#selected {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;

  position: sticky;
  bottom: 0;
  padding: 15px;

  .wordle {
    margin-bottom: 15px;
  }
}

.hints {
  display: flex;
  justify-content: center;
  align-items: center;

  .correct {
    color: $correct;
  }
  .incorrect {
    color: $incorrect;
  }
  .misplaced {
    color: $misplaced;
  }
}

#input-history {
  position: fixed;
  top: 0;
  left: 0;
  padding: 15px;
  font-family: "Roboto Condensed", sans-serif;

  .prev-input {
    font-size: 24px;
    font-weight: bold;
    color: #2b2b2b;
  }
}

.highlight {
  position: fixed;
  top: 0;
  left: 0;
  // width: 100%;
  // height: 100%;
  transition: top 600ms cubic-bezier(0, 0.55, 0.45, 1);
  padding: 20px;
  transform: translate(-20px, -20px);
  border-radius: 20px;
  background: #f6f6f6;
}
