@import "./variables";

.wordle-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 50px;

  .mini-wordle {
    margin-bottom: $spaceBetween;

    &:last-child {
      margin: 0;
    }
  }
}

@keyframes doop {
  25% {
    color: $correct;
  }
  50% {
    color: white;
  }
  75% {
    color: $correct;
  }
  100% {
    color: white;
  }
}
@keyframes doop2 {
  25% {
    background: $correct;
  }
  50% {
    background: white;
  }
  75% {
    background: $correct;
  }
  100% {
    background: white;
  }
}
@keyframes doop3 {
  25% {
    color: white;
  }
  50% {
    color: $correct;
  }
  75% {
    color: white;
  }
  100% {
    color: $correct;
  }
}
@keyframes doop4 {
  25% {
    background: white;
  }
  50% {
    background: $correct;
  }
  75% {
    background: white;
  }
  100% {
    background: $correct;
  }
}

.mini-wordle {
  font-weight: bold;
  max-width: 200px;
  width: 100%;
  position: relative;
  user-select: none;
  color: #454545;
  font-family: "Roboto Condensed", sans-serif;
  transition: height 600ms, margin 600ms;
  // transition: 600ms height;

  &[doop="1"] {
    animation: doop 2s steps(1);

    .wordle-col .hints span,
    .wordle-title {
      animation: doop3 2s steps(1);
    }

    .highlight {
      opacity: 1;
      border-radius: 0;
      animation: doop2 2s steps(1);
    }
    .wordle-brights > div {
      animation: doop4 2s steps(1);
    }
  }

  .highlight {
    transition: all 600ms linear;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    transform: translate(-20px, -20px);
    // border-radius: 20px;
    // background: #e0e0e0;
    opacity: 0;
  }
}

.wordle-container {
  width: 100%;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  // transition: all 1000ms linear;
  opacity: 1;
  /* position: absolute; */
  z-index: 2;
  top: 0;
  left: 0;
}

.wordle-title {
  margin: 0;
  z-index: 4;
  text-align: center;
  font-size: $smallTextSize;
}

.wordle-hints-container {
  width: 100%;
  height: 100%;
  display: flex;
  font-size: $smallTextSize;
  justify-content: space-between;
  z-index: 2;

  .wordle-col {
    display: inline-flex;
    flex-grow: 1;
    flex-basis: 20%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    // padding: 50;

    .wordle-brights {
      width: 100%;
      height: $fullSizedHint;
      // margin-top: 2px;
      display: flex;
      justify-content: center;
      align-items: center;

      &.A div {
        background: $correct;
        width: $fullSizedHint;
        height: $fullSizedHint;
      }

      div {
        width: 8px;
        height: 8px;
        border-radius: 7px;
        background: #c4c4c4;
      }
    }
  }
}

.wordle {
  transition: all 500ms linear;

  position: relative;
  font-weight: bold;
  user-select: none;
  max-width: 300px;
  width: 100%;

  .doop {
    position: absolute;
    right: -50px;
    top: 60%;
    transform: translateY(-50%) rotate(-9deg);
    width: 30px;
    height: 30px;
    background: #ececec;
    border-radius: 8px;
    text-align: center;
    vertical-align: middle;

    &.t2 {
      left: -50px;
      transform: translateY(-50%) rotate(4deg);
    }
  }

  .wordle-col {
    flex-basis: 50px;
    flex-grow: 0;
  }

  .tile {
    width: 50px;
    height: 50px;
    border: 1.5px solid #d3d6da;
    margin-top: 2.5px;
    border-radius: 3px;
    color: #393e4c;
    display: flex;
    color: white;

    .letter {
      margin: auto;
      font-weight: bold;
      font-size: 32px;
      height: 100%;
      width: 100%;
      text-align: center;
      vertical-align: middle;
    }

    &.occupied {
      color: #393e4c;
      border-color: #878a8c;
    }
  }
}

#keyboard {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  // width: 100%;
  // padding-bottom: 10px;

  .keyboard-letter {
    display: inline-flex;
    width: 35px;
    height: 45px;
    margin: 3px;
    border-radius: 4px;
    background: #d3d6da;
    color: #393e4c;
    cursor: pointer;

    &.wide {
      width: 55px;
    }

    .letter {
      margin: auto;
      font-weight: bold;
      font-size: 14px;
      user-select: none;
    }

    // Hinting
    &.incorrect {
      background: $incorrect;
      opacity: 1;
      color: white;
    }
  }
}

#selected {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 15px;

  .wordle {
    margin-bottom: 15px;
  }
}

.hints {
  display: flex;
  justify-content: center;
  align-items: center;
  // height: 17px;

  .correct {
    color: $correct;
  }
  .incorrect {
    color: $incorrect;
  }
  .misplaced {
    color: $misplaced;
  }
}

#input-history {
  position: fixed;
  top: 0;
  left: 0;
  padding: 15px;
  font-family: "Roboto Condensed", sans-serif;

  .prev-input {
    font-size: 24px;
    font-weight: bold;
    color: #2b2b2b;
  }
}

.highlight {
  position: fixed;
  top: 0;
  left: 0;
  // width: 100%;
  // height: 100%;
  transition: top 600ms cubic-bezier(0, 0.55, 0.45, 1);
  padding: 20px;
  transform: translate(-20px, -20px);
  border-radius: 20px;
  background: #f6f6f6;
}
