@import "./variables";

#game {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.wordle-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  // position: relative;
  padding: 50px;

  .mini-wordle {
    margin-bottom: $spaceBetween;

    &:last-child {
      margin: 0;
    }
  }
}

.wordle-container {
  width: 100%;
  max-width: 300px;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  // transition: all 1000ms linear;
  opacity: 1;
  /* position: absolute; */
  z-index: 2;
  top: 0;
  left: 0;
}

.wordle-title {
  margin: 0;
  z-index: 4;
  text-align: center;
  font-size: $smallTextSize;
  color: #000;
}

.wordle-hints-container {
  width: 100%;
  height: 100%;
  display: flex;
  margin: auto;
  font-size: $smallTextSize;
  justify-content: space-between;
  z-index: 2;

  .wordle-col {
    display: inline-flex;
    flex-grow: 1;
    flex-basis: 20%;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    // padding: 50;

    .wordle-brights-container {
      width: 100%;
      height: $fullSizedHint;

      display: flex;
      justify-content: center;
      align-items: center;

      &.A div {
        background: $correct;
        width: $fullSizedHint;
        height: $fullSizedHint;
      }

      div {
        width: 8px;
        height: 8px;
        border-radius: 7px;
        // background: #252525;
      }
    }
  }
}

.wordle-brights-container {
  .wordle-brights {
    color: transparent;
  }

  > div {
    background: rgb(0, 0, 0);
  }
  &.correct > div {
    background: $correct;
  }
  &.incorrect > div {
    background: $incorrect;
  }
  &.misplaced > div {
    background: $misplaced;
  }
}

.wordle {
  transition: all 500ms linear;

  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;

  position: relative;
  font-weight: bold;
  user-select: none;
  width: 100%;

  .wordle-container {
    display: none;
  }

  .wordle-container:nth-child(1) {
    display: flex;
  }

  .doop {
    // right: -50px;
    // top: 60%;
    // transform: translateY(-50%) rotate(-9deg);
    display: flex;
    width: 30px;
    position: relative;
    padding: 25px;

    div {
      width: 30px;
      height: 30px;
      position: absolute;

      bottom: 10px;
      border-radius: 8px;
      background: #ececec;
      text-align: center;
      vertical-align: middle;
      transform: rotate(10deg);
    }
  }

  .wordle-col {
    flex-basis: 50px;
    flex-grow: 0;
  }

  .tile {
    margin-top: 2.5px;
    display: flex;
    background: #fff;

    .letter {
      transition: all 0.15s cubic-bezier(0.34, 1.56, 0.64, 1),
        box-shadow 0.05s linear;

      display: block;
      color: #000000;
      height: 50px;
      width: 50px;
      font-size: 32px;
      transform: translateY(0) scale(0.95);
      margin: auto;
      box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
      border: 2px solid rgba(0, 0, 0, 0.8);
      border-radius: 2px;

      font-weight: bold;

      &:empty {
        box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.25);
        transform: translateY(-4px) scale(1);
      }
    }
  }
}

#keyboard {
  display: inline-flex;
  flex-direction: column;
  align-items: center;

  .keyboard-letter {
    display: inline-flex;
    width: 35px;
    height: 45px;
    margin: 3px;
    border-radius: 4px;
    border: none;
    background: #d3d6da;
    color: #393e4c;
    cursor: pointer;

    &.wide {
      width: 55px;
    }

    &.incorrect {
      background: $incorrect;
      opacity: 1;
      color: white;
    }

    &.misplaced {
      background: $misplaced;
      opacity: 1;
    }

    &.correct {
      background: $correct;
      opacity: 1;
    }

    .letter {
      margin: auto;
      font-weight: bold;
      font-size: 14px;
      user-select: none;
    }
  }
}

#selected {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;

  position: sticky;
  bottom: 0;
  padding: 15px;

  .wordle {
    margin-bottom: 15px;
  }
}

.hints {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wordle-col,
.hints {
  * {
    transition: color 0.3s;
  }
  > *:empty:before {
    content: "#";
    opacity: 0;
  }
  .correct {
    color: $correct;
  }
  .incorrect {
    color: $incorrect;
  }
  .misplaced {
    color: $misplaced;
  }
}

#input-history {
  position: fixed;
  top: 0;
  left: 0;
  padding: 15px;
  font-family: "Roboto Condensed", sans-serif;

  .prev-input {
    font-size: 24px;
    font-weight: bold;
    color: #2b2b2b;
  }
}

.highlight {
  position: fixed;
  width: 6px;
  transition: top 100ms linear;
  transform: translateX(-20px) scaleY(0.5);
  background: #161616;
  border-radius: 20px;
  animation: 1s linear 0s 1 fadeIn;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hint-container {
  display: flex;
  flex-direction: column;
  max-height: 14px;
  justify-content: flex-end;
  overflow: hidden;
}

.mini-wordle {
  font-family: "Roboto Condensed", sans-serif;
  position: relative;

  display: flex;
  overflow: hidden;
  font-weight: bold;
  user-select: none;

  transition: height 600ms, margin 600ms;
  border-radius: 10px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 300px;

  .wordle-hints-container {
    max-width: #{300px - 40px};
    transition: max-width 2s cubic-bezier(0.85, 0, 0.15, 1) 3s;
  }
  $delay: 0.25;
  $animTime: 0.5;
  // &[animation-stage="1"] {
  // .wordle-hints-container {
  //   max-width: #{(300px - 40px) / 2};
  // }

  .wordle-col {
    &[animation-stage="0"] {
      @for $i from 0 through 4 {
        &:nth-child(#{$i + 1}n) .wordle-brights {
          animation: pulse #{$animTime}s cubic-bezier(0.34, 1.56, 0.64, 1);
          animation-fill-mode: forwards;
        }
      }
    }
    &[animation-stage="1"] {
      @for $i from 0 through 4 {
        &:nth-child(#{$i + 1}n) .wordle-brights-container,
        &:nth-child(#{$i + 1}n) .wordle-brights {
          animation: heightToZero
            #{$animTime}s
            cubic-bezier(0.34, 1.56, 0.64, 1);
          animation-fill-mode: forwards;
        }
        &:nth-child(#{$i + 1}n) .hints {
          animation: fontSizeAnimation
            #{$animTime}s
            cubic-bezier(0.34, 1.56, 0.64, 1);
          animation-fill-mode: forwards;
        }
        &:nth-child(#{$i + 1}n) .hints span {
          animation: colorToBlack $animTime linear;
          animation-fill-mode: forwards;
        }
      }
    }
  }

  .wordle-container {
    display: flex;
    flex-direction: column;

    color: #00000000;

    width: calc(100% - 40px);
    max-width: 300px;
    padding: 20px;
    opacity: 1;
    flex-shrink: 0;

    transform: translateX(-100%);
  }

  &:nth-child(even) {
    background: #f2f4ff;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes pulseas {
  0% {
    opacity: 0.5 !important;
  }
  100% {
    opacity: 1 !important;
  }
}

@keyframes heightToZero {
  0% {
    height: 8px;
  }
  100% {
    height: 0;
  }
}

@keyframes colorToBlack {
  100% {
    color: #000;
  }
}

@keyframes fontSizeAnimation {
  100% {
    color: #000;
    font-size: 24px;
  }
}

@keyframes translateXToZero {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
